<!doctype html>

<html>
<head>
	<title>VirtualGallery | 404 Not Found</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body style="background-image: url('../images/gallerybg.jpg'); background-size: auto 100%;">
	<center>
	<h1>VirtualGallery</h1>	

	<div class="box">
		<h2>Oops! Nothing here.</h2>
		<p>Seems like you've come to a bad link. Click below to go back to the previous page.</p>
		<a href="javascript:history.go(-1)" class="btn btn-default">Go Back</a>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>
