<!doctype html>

<html>
<head>
	<title>VirtualBulletin | Create Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<div class="container">
		<center>
		<h1>Create a New Profile</h1>

		<div class="box">
			<p align="left">Hey. It's your first time here? <br>
				No worries. We'll make signing up as easy as possible.</p>
			<form id = "makeProfileForm" align="left">
				Username: <input type="text" id="username" name="username"><br>
				<!-- 	First name: <input type="text" name="firstname"><br>
				Last name: <input type="text" name="lastname"><br>
				Date of Birth: <input type="text" name="year" size="4" maxlength="4"> <input type="text" name="month" size="2" maxlength="2"> <input type="text" name="day" size="2" maxlength="2"> (YYYY-MM-DD)<br>   -->
				Email address: <input type="text" id="email" name="email" size="35"><br>
				Phone number: <input type="text" id="phone" name="phone" maxlength="12"> (XXX-XXX-XXXX)<br>
			</form>
			<br>
			<a href="home"><button id="makeProfileBtn" class="button">Sign Up</button></a>
			<hr>

			<!--buttons to go back to index -->
			<a href="/"><button id="homepage" class="button">Back</button></a>
		</div>
	</center>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/newExhibitControls.js"></script>

</body>
</html>