<!doctype html>

<html>
<head>
	<title>VirtualGallery | Welcome</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
</head>

<body>

	Here are the users:

	{{#each users}}
		{{username}}

	{{/each}}

</body>
</html>
