<!doctype html>
<!-- this page is going to be the page to create a profile -->

<html>
<head>
	<title>VirtualBulletin | Edit Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<center>
			<h1>Edit My Profile</h1>
		</center>
			<div class="box">
				<p>This will be the page to edit your profile. This is primarily to change your account settings.</p>
				<h3>Change your profile pic:</h3><br>
				<h3>Change your contact information:</h3><br>
				Email: <br>
				Phone number: <br>
				<hr>
				<center>
				<!--buttons to go back to the homepage or to the login page -->
				<a href="home"><button class="button">Cancel</button></a> <a href="home"><button id="editProfileSave" class="button">Save and go back to Home</button></a>
				</center>
			</div>
		
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>