<!doctype html>
<!-- this page is going to be the page to create a profile -->

<html>
<head>
	<title>VirtualBulletin | Edit Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
</head>
<body id="background-gradient">
	<div class="container">
		<center>
			<div class="box">
				<h1>Edit Profile</h1>
				<p>This will be the page to edit your profile.  You can change contact information, add new interests, etc.</p>
		
			<hr>

		<!--buttons to go back to the homepage or to the login page -->
			<a href="profile"><button id="homepage" class="button">Back To Profile Page</button></a>
			</div>
		</center>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>