<!doctype html>
<!-- this page is going to be the page to create a profile -->

<html>
<head>
	<title>VirtualGallery | Edit Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<center>
			<h1>Edit My Profile</h1>
		</center>
			<div class="box">
				<h3>Change your contact information:</h3>
				<label for="email">Email: currently {{email}}</label>
				<textarea id="newEmail" class="form-control" rows="3" placeholder="Enter email here"></textarea><br>

				<label for="phone">Phone number: currently {{phone}}</label>
				<textarea id="newPhone" class="form-control" rows="3" placeholder="Enter phone number here"></textarea><br>

				<h3>Change your password:</h3>
				<label for="username">New Password:</label>
		      	<input type="password" class="form-control" id="password" placeholder="Password">
				<hr>
				<center>

				<!--buttons to go back to the homepage or to the login page -->
				<a href="home"><button id="editProfileSaveBtn" class="btn btn-success btn-block">Save and go back to Home</button></a>
				<br>
				<a href="home"><button class="btn btn-default btn-block">Cancel</button></a>
				</center>
			</div>
		
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/newExhibitControls.js"></script>
</body>
</html>