<html>
<head>
	<title>VirtualGallery | Edit Exhibit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap-responsive.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<center>
	<h1>VirtualGallery</h1>
	<div class="box">
		<h2>Edit Exhibit</h2>
		<!--Image upload script adapted from Jasny's template
			http://jasny.github.io/bootstrap/javascript/#fileinput
			http://stackoverflow.com/questions/18132896/how-to-use-jasnys-file-upload-with-bootstrap-3
		-->
		</br>
		<form method='post' action='/editExhibit/edit' enctype='multipart/form-data'>		
			<h4>Select Exhibit Image</h4>
			<img src="{{imageURL}}" id="newImagePreview" height="100" style="border: 1px solid; border-color: #c0c0c0; border-radius: 5px; margin: 0px 0px 10px 0px;">
			<br>

			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newImgModal">Upload New Image</button>		
			<div class="modal fade" id="newImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  		<div class="modal-dialog">
		    		<div class="modal-content">
		      			<div class="modal-header">
		        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        			<h3>Choose an image</h3>
		      			</div>
		      			<div class="modal-body" style="line-height: 105px;">
		      				{{#each images}}
								<img class="img_upload" src="../images/uploads/{{image}}" data-image="{{id}}" data-dismiss="modal" height="100">
							{{/each}}
							<input type="hidden" id="newImage" name="newImage" value="">
		            	</div>
		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>
		    		</div>
				</div>
			</div>

			<h4>Add Exhibit Description</h4>
			<textarea rows="3" id="newDescription" name="newDescription" style="width:auto">{{description}}</textarea>
			<br>

			<h4>Add Exhibit Keywords</h4>
			<input type="text" class="form-control" name="newKeywords" id="newKeywords" placeholder="Keywords, separated by commas"></input>
			<br>

			<input type='submit' class="btn btn-success" value="Save Changes" />
		</form>
		<a href="../viewGallery" class="btn btn-default">Cancel</a>
	</div>

	</center>

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jasny-bootstrap-modified.js"></script>
	<script src="../js/editExhibitControls.js"></script>
</body>
</html>