<!doctype html>

<html>
<head>
	<title>VirtualBulletin | Home</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<div class="container">
		<center>
		<h1>VirtualBulletin</h1>	

		<div class="box">
			<h2>Welcome home, {{username}}.</h2>

			<p>What can we do for you today?</p>
			<br>
			<!-- <p>This is a placeholder for your account info, including email, phone number, and profile picture.</p>  -->
			<a href="search"><button class="button">Find me someone awesome.</button></a>
			<p>
			<a href="editProfile"><button class="button">Edit My Profile</button></a>
			<a href="viewGallery"><button id="backBtn" class="button">Edit My Gallery</button></a>
			<br>
			<!-- logout button should go to index -->
			<button id="logoutBtn" class="button">Logout</button>
		</div>

		</center>
	</div>

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/newExhibitControls.js"></script>
</body>
</html>
