<!doctype html>

<!-- code from index.handlebars of lab 5 -->
<html>
<head>
	<title>VirtualBulletin| Login</title>	
 	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- adding CSS links -->
    <link href="css/defaultCSS.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>  
</head>

<body>
	<div class="container">
		<center>
		<h1>VirtualBulletin</h1>
		<h2>Log in to your profile:</h2>
		
		<div class="box">	
			<form id="loginForm" role="form" method="get" action="/profilepage">
			    <div class="form-group">
			      <label for="username">Username:</label>
			      <input type="text" class="form-control" id="usernameField" placeholder="Username" name="username">
			    </div>

			    <div class="form-group">
			      <label for="password">Password:</label>
			      <input type="password" class="form-control" id="passwordField" placeholder="Password" name="password">
			    </div>
			    <br>
			    
			    <input type="login" id="loginBtn" class="button" value="Login"></input>
			</form>
			<br>
			<hr>
			<!-- other navigation buttons -->
			<!-- these need to be be linked to a new profile creation page and the homepage, respectively -->
			<a href="createProfile"><button id="makeNewProfileBtn" class="button">Create A New Profile</button></a>
			<a href="/"><button id="backBtn" class="button">Back</button></a>
		</div>
		</center>
	</div>

	<!-- add scripts -->
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/newExhibitControls.js"></script>


</body>
</html>
