<html>
<head>
	<!-- Google Analytics Content Experiment code -->
	<!--<script>function utmx_section(){}function utmx(){}(function(){var
	k='82881215-0',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>-->
	<!-- End of Google Analytics Content Experiment code -->

	<title>VirtualGallery | New Exhibit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap.css" rel="stylesheet">
	<link href="../css/jasny-bootstrap-responsive.css" rel="stylesheet">
	<link href="../css/bootstrap-select.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<center>
	<h1>VirtualGallery</h1>
	<div class="box">
		<h2>New Exhibit</h2>
		<br>
		
		<form method='post' action='/newExhibit/add' enctype='multipart/form-data'>
			<h4>Select Exhibit Image</h4>
			<img src="" id="newImagePreview" height="100" style="border: 1px solid; border-color: #c0c0c0; border-radius: 5px; margin: 0px 0px 10px 0px;">
			<br>

			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newImgModal">Upload New Image</button>		
			<div class="modal fade" id="newImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  		<div class="modal-dialog">
		    		<div class="modal-content">
		      			<div class="modal-header">
		        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        			<h3>Choose an image</h3>
		      			</div>
		      			<div class="modal-body" style="line-height: 115px;">
		      				{{#each images}}
								<img class="img_upload" src="images/uploads/{{image}}" data-image="{{id}}" data-dismiss="modal" height="100">
							{{/each}}
							<input type="hidden" id="newImage" name="newImage" value="">
		            	</div>
		      			<div class="modal-footer">
		        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      			</div>
		    		</div>
				</div>
			</div>

			<h4>Add Exhibit Description</h4>
			<textarea rows="3" id="newDescription" name="newDescription" style="width:auto">{{description}}</textarea>
			<br>

			<h4>Add Exhibit Keywords</h4>
			<input type="text" class="form-control" name="newKeywords" id="newKeywords" placeholder="Keywords, separated by commas"></input>
			<br>

			<input type='submit' class="btn btn-success btn-block" value="Save Changes" />
		</form>
		<a href="viewGallery"><button class="btn btn-default">Cancel and Go to Your Gallery</button></a>
	</div>

	</center>

	<!-- for google analytics -->
	<!--<script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-48559881-1', "virtualgallery.herokuapp.com");
  	ga('send', 'pageview');

	</script>-->

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jasny-bootstrap.js"></script>
	<script src="../js/newExhibitControls.js"></script>
	<script src="../js/bootstrap-select.js"></script>
</body>
</html>