<!doctype html>

<!-- this page is going to be the personal profile homepage (where you go when you hit the login button) -->

<html>
<head>
	<title>VirtualBulletin | My Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body id="background-gradient">
	<div class="container">
		<center>
		<h1>It's all about you, babe.</h1>
		<div class="box">
			<p>This is your profile. This is also currently a placeholder - from here you can search for people near you with similar interests, edit your profile, or logout (go back to the index).</p>
			<hr>

			<!--navigation buttons -->
			<!-- search button here should go to search page -->
			<a href="home">
				<button id="search" class="button">Back</button>
			</a>

			<a href="editProfile"><button id="editProfile" class="button">Edit Profile</button></a>

		</div>
		</center>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>