<!doctype html>

<html>
<head>
	<title>VirtualGallery | Search</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>  

	<script>
		function getLocation() {
			if (navigator.geolocation){
				console.log("location supported");
				navigator.geolocation.getCurrentPosition(dealWithLocation, dealWithError);
			} else {
				console.log("location not supported");
			}
		}

		function dealWithError(error){
			console.log(error.code);
		}

		function dealWithLocation(position){
			var lat = position.coords.latitude;
			var lon = position.coords.longitude;
			console.log("lat is " + lat + " and long is " + lon);
			$("#searchForm .form-group p").text("Your current location is: (" + lat + ", " + lon + ").");
		}
	</script>
</head>

<body onload = "javascript:getLocation()">
	<center>
	<h2>Who do you want to discover?</h2>
    <div class="box">
		<form id="searchForm" role="form" method="get" action="/results">
		    <div class="form-group">
		    	<p>Your current location is: [Placeholder for GPS-detected location]</p>
		      	<label for="distance">Find people within: </label>
		      	<select id="distanceList" class="form-control">
	  				<option></option>
	  				<option>.1 miles</option>
	  				<option>.25 miles</option>  
	  				<option>.5 miles</option>
	  				<option>1 mile</option>
	  				<option>2 miles</option>
	  				<option>5 miles</option>
				</select>
		    </div>
		</form>
		<br>
	    <a href="searchResults" id="searchBtn" class="btn btn-primary btn-block btn-lg">Search!</a>

	 	<br>
	 	<button class="btn btn-default" data-toggle="modal" data-target="#settingsModal">Edit search priorities</button>

	 	<div class="modal fade" id="settingsModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h2 class="modal-title">Edit Search Priorities</h2>
		      </div>
		      <div class="modal-body">
		        <form id="interestPriorities" role="form" method="get" action="/search.html">
					<p>Sort your interests by priority. We'll be sure to remember these the next time you search!</p>
	    			<div class="form-group">
	      				<label for="distance">1: </label>
	      				<select id="myList1" onchange="favBrowser()">
  							<option></option> <!--Should default to current settings-->
  							{{#each data}}
  								<option>{{Category}}</option>
  							{{/each}}
						</select>
	    			</div>
	    			<div class="form-group">
	      				<label for="distance">2: </label>
	      				<select id="myList2" onchange="favBrowser()">
  							<option></option> <!--Should default to current settings-->
  							{{#each data}}
  								<option>{{Category}}</option>
  							{{/each}}
						</select>
	    			</div>
	    			<div class="form-group">
	      				<label for="distance">3: </label>
	      				<select id="myList3" onchange="favBrowser()">
  							<option></option> <!--Should default to current settings-->
  							{{#each data}}
  								<option>{{Category}}</option>
  							{{/each}}
						</select>
	    			</div>
				</form>
		      </div>
		      <div class="modal-footer">
		        <a href="search" class="btn btn-primary">Save Changes</a> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	
	 	<hr>
		<a href="home" id="backBtn" class="btn btn-default">Back to Home</a>
	</div>

	</center>

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>

</body>
</html>
