<!doctype html>

<!-- this is going to be the handlebars file for the login page -->
<html>
<head>
	<title>VirtualBulletin | Search</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>      
</head>

<body>
	<div class="container">
		<center>
		<h2>Enter your search settings</h2>
	    <div class="box">
			<form id="searchForm" role="form" method="get" action="/results">

			    <div class="form-group">
			    	<p>Your current location is: [Placeholder for GPS-detected location]</p>
			      	<label for="distance">Find people within: </label>
			      	<select id="distanceList" class="form-control">
		  				<option></option>
		  				<option>.1 miles</option>
		  				<option>.25 miles</option>  
		  				<option>.5 miles</option>
		  				<option>1 mile</option>
		  				<option>2 miles</option>
		  				<option>5 miles</option>
					</select>
			    </div>
			</form>
			<br>
		    <a href="searchResults"><button id="searchBtn" class="button">Search!</button></a>
		 	<a href="searchSettings"><button id="searchSettingsBtn" class="button">Edit search settings</button></a>
		

		 	<hr>
			<!-- other navigation buttons -->
			<!-- these need to be be linked to a new profile creation page and the homepage, respectively -->
			<a href="home"><button id="backBtn" class="button">Back</button></a>
		</div>
	</div>


<!--Modal here, add comment lines.
	<button class="button" data-toggle="modal" data-target="#myModal">
  		Launch demo modal
	</button>
	
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h4 class="modal-title" id="myModalLabel">Modal title</h4>
      			</div>
      			<div class="modal-body">
            	</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<button type="button" class="btn btn-primary">Save changes</button>
      			</div>
    		</div>
		</div>
	</div>
-->

	</center>
	<!-- add scripts -->

	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>

</body>
</html>
