<!doctype html>

<html>
<head>
	<title>VirtualGallery | Visit Their Gallery</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
</head>

<body>
	<center>
	<!--<img id="logo" src="../images/VirtualGallery Logo with Transparency.png"></img>-->
	<h1>{{username}}'s Gallery</h1>
	</center>

	<center>
	<div class = "usernameInfo" id="{{username}}"></div>
	<!--<div class ="box">-->
    	<div id="backgroundSplash">
			<!--<div class="exhibitCanvas" id="exhibitCanvas">-->
			<div class="exhibit" id="exhibit1">
				<img src="{{imageURL}}" id="exhibitImage" class="exhibitImage"></img>
			</div>
			
			<div class="exhibitCanvas" id="exhibitDescription" data-container="body" data-toggle="popover" data-placement="top" data-content="{{description}}" data-trigger="manual">
				<img src="../images/descriptionSign.jpg" id="descriptionSign"></img>
				<!--<span class="glyphicon glyphicon-align-justify"></span>-->
			</div>
		</div>

		<div id="navigationWrapper">

			<button id="prevBtn" class="btn btn-default" disabled="true">Prev</button>
			<button id="nextBtn" class="btn btn-default">Next</button>

			</p>

			<a href="javascript:history.go(-1)" class="btn btn-primary">Back to Search Results</a>
			<a href="../home"><button id="homeBtn" class="btn btn-default">Home</button></a>
		</div>
	<!--</div>-->
	</center>

	<!-- add scripts -->
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/imgLiquid-min.js"></script>
	<script src="../js/visitGalleryControls.js"></script>
</body>
</html>
