<!doctype html>

<html>
<head>
	<title>View Their Gallery</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.css" rel="stylesheet">
	<link href="../css/defaultCSS.css" rel="stylesheet">
	


	
</head>

<body>
	<div class="container">
		<center>
		<h1>VirtualBulletin</h1>
		</center>

		<center>
		<div class ="box">
	    	<div id="backgroundSplash">				
				<div class="exhibitCanvas" id="exhibitCanvas">
					<div class="exhibit" id="exhibit1">
						<img src="{{imageURL}}" id="exhibitImage" class="exhibitImage"></img>
					</div>
				</div>
				<div class ="exhibitCanvas" id="exhibitDescription" data-container="body" data-toggle="popover" data-placement="top" data-content="{{description}}" data-trigger="manual">
					<img src="../images/descriptionSign.jpg" id="descriptionSign"></img>
					<!--<span class="glyphicon glyphicon-align-justify"></span>-->
				</div>
			</div>
			<br>
			<button id="prevBtn" class="button">Prev</button>
			<button id="nextBtn" class="button">Next</button>

			<hr>

			<a href="home"><button id="nextBtn" class="button">Home</button></a>
		</div>
		</center>
	</div>

	<!-- add scripts -->
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/imgLiquid-min.js"></script>
	<script src="../js/visitGalleryControls.js"></script>
</body>
</html>
