h1, h2, h3, h4, h5 {
     color: #8382BF;
     font-family: Arial Rounded MT Bold;
}

html {
     height: 100%;
}

body {
     font-family: "Source Sans Pro", "Arial", sans-serif;
     font-size: 14px;
     color: #000000;
     background-color: rgba(212,228,239,1);
     background-image: url('../images/gallerybg.jpg'); 
     background-size: auto 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

/* to ensure the textarea in /editExhibit fills the page */
textarea {
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.box {
     background-color:rgba(255,255,255,.8);
     padding: 10px 10px 10px 10px;
     width: 100%px;
     /*border-radius: 15px;*/
}

.modal {
    overflow-y: auto;    /*removes scrollbar from appearing when unnecessary*/
}


#backgroundSplash {
     width: auto;
     height: 300px;      /*needs to be modified to fit viewport size*/
     background-color: #000000;
     background-image: url('../images/gallerybg.jpg');
     background-size: auto 100%;
     background-origin: content-box;
}

.exhibitCanvas{
     background-color: #ffffff;
     box-shadow: 2px 2px 10px #888888;
     position: absolute;
}

#exhibitDescription{
     width:50px;
     height:50px;
}

.exhibitImage{
     background-color: #ffffff;
     display: block;
     position:absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     max-width: 90%;
     max-height: 90%;
     height: auto;
     width: auto;
}

.gallerythumbnail {
     min-width:60px;
     width:60px;
     height:auto;
     max-height:60px;
     margin-bottom:0px;
}